.container {
    width: 1280px;
   margin: 0 auto;
}
.name {
    font-family: Calibri;
    font-size: 100px;
    text-align: left;
    text-decoration: none;
    color: black;
}
.leter {
    color: #00d9d9;
}
.menu_top {
    background-color: #446b73;
    text-align: center;
}
.menu_top_el {
    display: inline-block;
    font-family: Calibri;
    font-size: 25px;
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
}
.container_center {
    margin: 50px 0;
}
.menu_left {
    display: inline-block;
    vertical-align: top;
    width: 380px;
    text-align: left;
    border: 1px solid black;
    margin-left: 0;
}
.menu_left_el {
    display: block;
    text-decoration: none;
    color: #446b73;
    font-family: Calibri;
    font-size: 30px;
    padding: 28px 43px;
}
.content {
    display: inline-block;
    width: 885px;
}
.img-container {
    border: 1px solid black;
}
.copyright {
    display: inline-block;
    text-align: right;
    width: 228px;
    font-family: Calibri;
    font-size: 25px;
    padding: 10px;
}
.menu_bottom {
    display: inline-block;
    width: 960px;
    padding: 20px 0px 20px 40px;
}
.menu_bottom_el {
    font-family: Calibri;
    font-size: 28px;
    text-decoration: none;
    color: black;
    padding: 10px;
}
footer {
    background-color: #72807b;
}